.tablet-up {

	display: none;
}

.smg-rp-container {

	border: 1px solid #eee;
	color: #bbb;
	overflow: auto;
	padding: 10px 20px 10px 20px;

}

.smg-img-container {

	border-radius: 3px;
	display: inline-block;
	float: left;
	height: 100px;
	margin: 0 15px 0 0;
	overflow: hidden;
	position: relative;
	width: 100px;
}

.smg-img-container img {

    height: auto;
    margin-left: -50%;
    max-width: none;
    width: auto;

}

.smg-rp-cat-container {

	display: inline-block;
	line-height: 12px;
	margin-top: 5px;
	vertical-align: top;
}

.smg-rp-cat {

	font-size: 9px;	
	font-weight: bold;
	text-transform: uppercase;

}

.smg-rp-time {

	color: #999;
	font-size: 9px;
}

.smg-rp-h1 {

	color: #333;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
}

@media (min-width: 728px) { 

	.mobile-only {

		display: none;
	}
	
	.tablet-up {

		display: block;
	}

	.smg-img-container {

		height: 150px;
		margin-right: 20px;
		width: 186px;
	}

	.smg-img-container img {

		left: 0;
	    margin-left: 0;
	    position: relative;
	    top: 0;
	}

	.smg-rp-cat-container {

		margin: 15px 0 5px 0
	}


	.smg-rp-h1 {

		font-size: 26px;
	}

	.smg-rp-meta {

		font-size: 13px;
		line-height: 22px;
		margin-top: 5px;
	}

	.smg-rp-meta a {

		box-shadow: 0 -1px 0 red inset !important;
		color: red;
		text-decoration: red !important;
	}
}